name: CI
on:
  push:
    branches: [master, release/**]
  pull_request:
    branches: [master, release/**]
jobs:
  # Build and Test the 'cucumber-tsflow' package
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cucumberVersion: ['^7', '^8', '^9', '^10']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install npm packages
        run: |-
          npm ci
          npm install @cucumber/cucumber@${{ matrix.cucumberVersion }}
      - name: Build
        run: npm run build
      - name: Run specification tests
        run: npm test
